<h1 class="table__title">Empleados</h1>

<table mat-table [dataSource]="empleados" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="brm">
    <th mat-header-cell *matHeaderCellDef> BRM </th>
    <td mat-cell *matCellDef="let element"> {{element.brm}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre</th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef> Foto </th>
    <td mat-cell *matCellDef="let element"> <img src="{{'data:image/jpg;base64,'+element.foto}}" class="row__image" alt="Imagen_empleado"></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="puesto">
    <th mat-header-cell *matHeaderCellDef>Puesto </th>
    <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones </th>
    <td mat-cell *matCellDef="let element">
      <div class="actions">
        <button class="primary" (click)="editar(element)">Editar</button>
        <button class="dark" (click)="eliminar(element.id)">Eliminar</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;">



  </tr>
</table>
