
<div class="container">

  <div class="content">




    <form [formGroup] ="loginForm"  (ngSubmit)="loginPost(loginForm.value)">
    <div class="group">
      <label>Usuario</label>
      <input type="text" formControlName="username">
    </div>


    <div class="group">
      <label>Contraseña</label>
      <input type="password" formControlName="password">
    </div>

    <button class="dark btn_login">Ingresar</button>

    </form>
  </div>


</div>



