.container{
 height: 100vh;
 display: flex;

.content{
  margin: auto;
  background-color: white;
  padding: 2em;
  text-align: center;
  .group{
    display: flex;
    flex-direction: column;
    text-align: left;

    label{
      font-weight: 700;
      font-size: 1.3em;
    }

    input{
      width: 250px;
    }

  }
  .btn_login{
    text-align: center;
  }
}
}
