<div mat-dialog-content class="mat-typography" align="center">

  <h4>Editar</h4>
  <form [formGroup] ="editForm">

    <div class="form__group">
      <mat-label>BRM: </mat-label>
      <input type="text" formControlName="brm"/>
    </div>

    <div class="form__group">
      <mat-label>Puesto: </mat-label>
      <select class="select__input" formControlName="puesto">
        <option selected>Selecciona un puesto..</option>
          <option value="Desarrollador FrontEnd Sr.">Desarrollador FrontEnd Sr.</option>
          <option value="Desarrollador FrontEnd Jr">Desarrollador FrontEnd Jr.</option>
          <option value="Desarrollador BackEnd Jr.">Desarrollador BackEnd Jr.</option>
      </select>

    </div>

    <div class="form__group">
      <mat-label>Nombre: </mat-label>
      <input type="text" formControlName="nombre"/>
    </div>

    <div class="form__group">
      <mat-label>Foto: </mat-label>
      <input type="file"  (change)="onChangeFoto($event)"/>
    </div>


  </form>
    </div>
    <mat-dialog-actions align="center">
      <button class="dark" [mat-dialog-close]="editForm.value">Guardar</button>
      <button class="primary" (click)="onClickNo()">Cancelar</button>




    </mat-dialog-actions>
