.crud__title{
  font-size: 1.5em;
  margin-bottom: 1em;

}

.container__crud{
  padding: 0 1em;
  margin-top: 3em;
}
.card__crud{
  padding: 2em;
  margin-top: 1em;
}


.row{
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

