




<div class="container__crud">

  <mat-card class="card__crud">
<h1 class="crud__title">Datos del empleado</h1>

<form [formGroup] ="newForm" (submit) ="postForm(newForm.value)">
    <div class="row">
      <div class="form__group">
        <mat-label>BRM: </mat-label>
        <input type="text" formControlName="brm"/>
      </div>
      <div class="form__group">
        <mat-label>Puesto: </mat-label>
        <select class="select__input" formControlName="puesto">
          <option selected>Selecciona un puesto..</option>
            <option value="Desarrollador FrontEnd Sr.">Desarrollador FrontEnd Sr.</option>
            <option value="Desarrollador FrontEnd Jr">Desarrollador FrontEnd Jr.</option>
            <option value="Desarrollador BackEnd Jr.">Desarrollador BackEnd Jr.</option>
        </select>

      </div>
    </div>

    <div class="row">
      <div class="form__group">
        <mat-label>Nombre: </mat-label>
        <input type="text" formControlName="nombre"/>
      </div>
      <div class="form__group">
        <mat-label>Foto: </mat-label>
        <input type="file" formControlName="foto" (change)="onChangeFoto($event)"/>
      </div>
    </div>

    <button class="orange" type="submit">Guardar</button>

  </form>
  </mat-card>

  <mat-card class="card__crud">
    <app-table (edit) = "dialogEdit($event)" (delete)="dialogDelete($event)" [empleados]="empleados" [columns]="columns"></app-table>
  </mat-card>





</div>
